body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* Alinha ao topo para permitir rolagem */
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;  /* Permite rolagem na página */
}

.products-container {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.products-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.btn-show-products,
.btn-add {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
}

.btn-show-products:hover,
.btn-add:hover {
  background-color: #0056b3;
}

.add-product-form,
.edit-product-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.products-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-item {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: left;
}

.product-item h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.product-item p {
  margin: 5px 0;
  color: #555;
}

.product-item p strong {
  color: #000;
}

.btn-edit,
.btn-delete {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.btn-edit {
  background-color: #007bff;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;  /* Adiciona espaço entre os botões */
}

.btn:hover {
  background-color: #0056b3;
}

/* Adiciona estilos para os botões de "Salvar Alterações" e "Cancelar" */
.btn-save {
  background-color: #28a745;
  margin-right: 10px;
}

.btn-save:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #ffc107;
}

.btn-cancel:hover {
  background-color: #e0a800;
}
